<main>
    <h1>
        Iniciar Sesion
    </h1>
    <section>
        <form action="" method="" id="loginForm">
            <label for="email">Username</label>
            <input type="text" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Iniciar Sesion</button>
        </form>
        <a href="/register"><button type="button">Crear Usuario</button></a>
    </section>
</main>
<script src="/js/login.js"></script>